.c-sponsors__item
    h3.title プラチナスポンサー
    .box
        .child
            .logo-sponsor
                img(src=assetsPath + '/images/top/logo-dunlop.png' alt="")
.c-sponsors__item
    h3.title 協賛/スポンサー
    .box
        .child
            .logo-sponsor
                img(src=assetsPath + '/images/top/logo-head.png' alt="")

        .child
            .logo-sponsor
                img(src=assetsPath + '/images/top/logo-nippon_padel.png' alt="")
        .child
            .logo-sponsor
                img(src=assetsPath + '/images/top/logo-dropshot.png' alt="")
.c-sponsors__item
    h3.title オフィシャルPRパートナー
    .box
        .child
            .logo-sponsor
                img(src=assetsPath + '/images/top/logo-prtimes.png' alt="")
.c-sponsors__item
    h3.title ウェブメディアパートナー
    .box
        .child
            .logo-sponsor
                img(src=assetsPath + '/images/top/gondola-logo.png' alt="")
.c-sponsors__item
    h3.title 所属メーカー/代理店
    .box
        .child
            .logo-sponsor
                img(src=assetsPath + '/images/top/logo-adidas_padel.png' alt="")
        .child
            .logo-sponsor
                img(src=assetsPath + '/images/top/logo-rossignol.png' alt="")
        .child
            .logo-sponsor
                img(src=assetsPath + '/images/top/logo-vibora.png' alt="")
        .child
            .logo-sponsor
                img(src=assetsPath + '/images/top/logo-varlion.png' alt="")
        .child
            .logo-sponsor
                img(src=assetsPath + '/images/top/logo-bullpadel.png' alt="")
        .child
            .logo-sponsor
                img(src=assetsPath + '/images/top/logo-uisports.png' alt="")
        .child
            .logo-sponsor
                img(src=assetsPath + '/images/top/logo-starvie.png' alt="")
        .child
            .logo-sponsor
                img(src=assetsPath + '/images/top/logo-cartri.png' alt="")